<?xml version="1.0"?>
<!--suppress XmlUnboundNsPrefix -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <nosto_itp>
            <flags>
                <nosto_itp>1</nosto_itp>
            </flags>
        </nosto_itp>
    </default>
</config>
